.my-pomodoro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.my-pomodoro--timer {
  max-width: 60vw;
}

.my-pomodoro--remaining-time {
  font-size: 60px;
  text-align: center;
}

.my-pomodoro button {
  margin: 5px 5px;
}