.my-pomodoro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.my-pomodoro--timer {
  max-width: 60vw;
}

.my-pomodoro--remaining-time {
  font-size: 20vw;
  text-align: center;
}

.my-pomodoro button {
  margin: .3em;
  font-size: 3vw;
  padding: .5em .7em;
}