.remote-pomodoros {
  position: relative;
  min-height: 100vh;
  background-color: lightslategrey;
  color: white;
}

.remote-pomodoros__back {
  height: 30px;
  text-align: right;
  width: 100%;
  padding: 5px;
  a { color: white }
}

.remote-pomodoros__info {
  border-radius: 5px 5px 0 0;
  position: absolute;
  top: -29px;
  line-height: 30px;
  text-align: center;
  height: 30px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  border: 1px solid lightslategrey;
  a { color: lightslategrey }
}

.remote-pomodoros__list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-flow: row wrap;
}

.remote-pomodoro {
  width: 300px;
  height: 225px;
  padding: 10px;
  font-size: 18px;
}

.remote-pomodoro__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 5px;
  position: relative;
}

.remote-pomodoro__ping {
  position: absolute;
  top: 5px;
  right: 5px;
}

.remote-pomodoro__user {
  position: absolute;
  top: 5px;
  left: 5px;
}

.remote-pomodoro__time {
  margin-right: .5em;
  font-size: 36px;
}

