.sign-in-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}


.sign-in-form--group {
  max-width: 50%;
}

.sign-in-form--input {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 10px 0 0;
  vertical-align: bottom;
  font-size: 16px;
  padding: 3px 5px;
  height: 30px;
  line-height: 20px;
}

.sign-in-form--btn {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  vertical-align: bottom;
  font-size: 16px;
  padding: 3px 15px;
  height: 30px;
  line-height: 20px;
}