body {
  font-family: Helvetica, Arial, sans-serif; }

button {
  padding: .3em .5em;
  font-size: 20px;
  margin: 0 .3em 0 0; }

.my-pomodoro--remaining-time {
  margin: .5em auto;
  font-size: 36px; }
