.navigation {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation--item {
  text-align: right;
}