@import '../../variables';

$dark-blue: darken($in-pomodoro-color, 10);

.this {
  position: relative;
  min-height: 100vh;
  background-color: $dark-blue;
  color: #eee;
}

.back {
  height: 30px;
  text-align: right;
  width: 100%;
  padding: 5px;
  a { color: white }
}

.info {
  border-radius: 5px 5px 0 0;
  position: absolute;
  top: -29px;
  line-height: 30px;
  text-align: center;
  height: 30px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  border: 1px solid $dark-blue;
  a { color: $dark-blue}
}

.list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-flow: row wrap;
}

.pomodoro {
  width: 300px;
  height: 225px;
  font-size: 18px;
  padding: 10px;
}

.pomodoroContent {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  padding: 15px;
}

.pomodoroContentStopped {
  background-color: $stopped-color;
}

.pomodoroContentInPomodoro {
  background-color: $in-pomodoro-color;
}

.pomodoroContentOnBreak {
  background-color: darken($on-break-color, 5);
}

.ping {
  position: absolute;
  top: 15px;
  right: 15px;
}

.user {
  position: absolute;
  top: 15px;
  left: 15px;
}

.time {
  margin-right: .5em;
  font-size: 48px;
}

